node_modules/
.env
blog-frontend/dist/
blog-backend/dist/
blog-backend/prisma/dev.db
blog-backend/public/uploads/
.uploads/
*.tsbuildinfo
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
